<!DOCTYPE html>
<html>
<head>
   <title>
    <% if (title) { %>
      <%= title %>
    <% } else { %> 
      Faq - The best page for questions for begginers
    <% }  %> 
      
   </title>
</head>
<body>
   <%- include('partials/header') %>

   <main>
       <%- body %>
   </main>

   <%- include('partials/footer') %>
</body>
</html>
