<h1>create tag</h1>

<form action="/admin/tags" method="POST">
  <label for="name">name:</label>
  <input type="text" id="name" name="name" required />

  <label for="color">color</label>
  <input type="text" id="color" name="color" />

  <button type="submit">Guardar Pregunta</button>
</form>
