<h1>All questions</h1>

<% if (!questions || questions.length < 1) { %>
<h2>There are not Questions</h2>
<% } else { %>
<ul>
  <% questions.forEach(question => { %>
  <li>
    id: <%= question._id %> <br />
    question: <%= question.question %>
    <button>
      <a href="/admin/update/<%= question._id %>">update</a>
    </button>
    <form action="/admin/question/<%= question._id %>?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>
<% } %>
